version: v1alpha1
metadata:
  name: zeropod
  version: "{{ .VERSION }}"
  author: Kyle Huggins
  description: |
    [{{ .TIER }}] This system extension provides zeropod, a containerd shim for scaling to zero.
  compatibility:
    talos:
      version: ">= v1.0.0"
